@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
  --main-color: #9146ff;
  --background-color: #090510;
  --border-color: #ffc107;
}

body {
  background: var(--background-color);
  font-family: "Anton", sans-serif;
}
.title {
  color: white;
  font-size: 32px;
}
.btn {
  background: var(--main-color);
  color: white;
}

.btn:hover {
  background: #5602cc;
  color: white;
  border: 1px solid var(--border-color);
}

input {
  padding: 10px;
  width: 100%;
  background: none;
  color: white;
  border: 5px solid var(--main-color);
  border-radius: 5px;
  transform: scale();
  scale: 100%;
  transition-duration: 1s;
}

input:focus {
  outline: none;
  transform: scale();
  scale: 110%;
  transition-duration: 1s;
}

.boton {
  font-size: 24px;
  width: 100%;
  background: none;
  border: none;
}

.boton:hover {
  color: white;
  border-radius: 5px;
  background: #090510;
}
#container-user a {
  text-decoration: none;
  background: #9146ff;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  color: white;
}
[class*="stream"] {
  text-decoration: none;
  color: white;
}
[class*="stream"] img:hover {
  transform: scale();
  scale: 105%;
  border: 1px solid var(--main-color);
  transition: 0.3s ease-in-out;
}
body:has(#buttonnav:focus) nav {
  width: 100vw;
}
@media (min-width: 577px) {
  .title {
    font-size: 38px;
  }
}

@media (min-width: 993px) {
  .title {
    font-size: 42px;
  }
}
